body {
	margin: 20px;
	padding: 0;
	border: 0;
}

.column li {
	display: flex;
	margin-left: -39px;
	border: 1px solid black;
	margin-bottom: 5px;
	border-radius: 10px;
	background-color: aqua;
}

.column {
	width: 300px;
	display: inline-table;
	min-height: 10px;
	margin:10px;
}

button {
	border: none;
}
div li button {
	border: none;
	background-color: aqua;
}

div h2 {
	text-align: center;
	text-transform: uppercase;
	background-color: beige;
	border-radius: 10px;
}


.column-card-list {
	min-height: 10px;
}

.btn-delete {
	height: 10px;
	display: inline-table;
	margin-top: 17px
}

.create-column {
	background-color: aquamarine;
	border-radius: 10px;
	display: inline;
	width: 300px;
	margin: 10px
}

.card-description { 
	margin-left: 50%;
	width: auto;
	transform: translateX(-100%);
}